<section class="about-page page fix"><!--Start About Area-->
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<div class="about-title">
					<h2>WELCOME TO <span>Gold Shop</span></h2>
					<h3>ONLINE JEWELRY STORE</h3>
				</div>
				<div class="about-text">
					<p>Gold Shop is the flagship company of Malabar Group. It was established in 1993 in Kozhikode, Kerala. Today, it has a strong retail network of over 185 outlets spread across nine countries, 10 wholesale units in addition to offices, design centers and factories spread across India, Middle East & Far East. The company currently ranks among the BIG 5 jewellery retailers globally.
                        Gold Shop is also vertically integrated comprising of bullion desk, design centers, manufacturing, distribution, retail and after sale services. This enables the retailer to offer its customers products and services that unique and offer unmatched value and quality.
                        Gold Shop manages its operations in India out of the HQ located in Kozhikode, Kerala and its international operations from the corporate office located in Dubai, UAE. The operations are further supported by regional offices in other Indian states and across the other countries where it is present.
                        The jewellery arm caters to a global audience supported by a team consisting of 14 nationalities that are proficient in 50+ different languages. Gold Shop successfully manages multiple retail formats with presence in high streets, reputed malls, department stores and travel retail.
                        MFIT is a Creative & Modern Interior Solutions Studio specializing in executing turnkey interior fit outs for Residential, Retail, F&B, Offices, Exhibition & Hospitality </p>
					<blockquote><p>Gold Shop was founded in 1993 by a team of enterprising entrepreneurs, led by the visionary genius of Mr. M P Ahammed when he explored beyond his immediate circle in the agri-corp industry to establish a jewellery trading company in a historical city called Khmelnytskyi.
                        Since then, keeping alive the golden spirit of the Brand, the Group has remained constant, in its successful forays nurtured by expertise, vision and guidance, into a formidable business conglomerate. The HQ (headquarters) of Gold Shop in Khmelnytskyi shines bright as a beacon of success for an empire built on Trust, Teamwork, and Goodwill.</p></blockquote>
					<p>LWe will have exactly what you are looking for, or we will travel thousands of miles to the “Diamond Capital of the World” Antwerp, Belgium to personally select a diamond that suits your needs. We are a locally owned family business with three generations of commitment fine craftsmanship</p>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="about-text">
					<h2>WHY <span>CHOOSE US</span></h2>
					<p class="about-margin">What makes us unique, is that we are one of the only precious metal dealers who have an "A" rating with the BBB (Better Business Bureau).
                        We are a Licensed Precious metals dealer.
                        We are not a pawn shop or a retail jewelery store.
                        Our only business is to buy and sell precious metals, coins, currency and diamonds.
                        We have over 100 years of combined experience.
                        We buy all items right in front of our customers.
                        Gold, Silver and Platinum are tested and weighed right in front of you.
                        Our prices are posted daily in our shops and online.
                        Our warm and friendly personnel make selling your items an enjoyable and painless process.</p>
					</div>
			</div>
			<div class="col-sm-6">
				<div class="about-img">
					<img src="../../../../content/images/about-us/about.jpg" alt="" />
				</div>
			</div>
		</div>
	</div>
</section><!--End About Area-->