<div class="sort-by">
    <span>Sort By</span>
    <select name="sort-by">
        <option selected="selected" value="mercede">price: Lower</option>
        <option value="saab">price(low&gt;high)</option>
        <option value="mercedes">price(high &gt; low)</option>
        <option value="audi">rating(highest)</option>
    </select>
</div>
<div class="show-product">
    <span>Show</span>
    <select name="sort-by">
        <option selected="selected" value="mercede">16</option>
        <option value="saab">20</option>
        <option value="mercedes">24</option>
    </select>
    <span>Per Page</span>
</div>
<div class="pro-Showing">
    <span>Showing 1 - 12 of 16 items</span>
</div>
