<div class="footer-top-area fix"><!--Start Footer top area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6">
                <div class="footer-about">
                    <div class="image">
                        <img src="./../../../content/images/logo.png" alt="" />
                        <h3>online jewelry store</h3>
                    </div>
                    <p>We house more than 4000 unique designs for you to choose from. All these designs are crafted to perfection with utmost care giving you the flexibility to customize the product's gold purity and colour or diamond clarity to suit your needs.</p>
                </div>
                <div class="footer-contact">
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="details">
                            <p>Main town, Anystreen</p>
                            <p>C/A 1254 New Yourk</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="details">
                            <p>+012  456  456  456</p>
                            <p>+012  356  897  222</p>
                        </div>
                    </div>
                    <div class="single-contact">
                        <div class="icon">
                            <i class="fa fa-dribbble"></i>
                        </div>
                        <div class="details">
                            <a href="#">goldenshop.com</a>
                            <a href="#">www.goldenshop.com</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-6">
                <div class="footer-quick-link footer-links">
                    <h2>QUICK LINK</h2>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="shop.html">Shop</a></li>
                        <li><a href="shop-left-sidebar.html">New Arrivals</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="portfolio-1.html">Portfolio</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="#">Shortcodes</a></li>
                        <li><a href="contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
            <!--<div class="col-sm-12 col-md-4">-->

                    <!--<div class="col-sm-4 footer-account footer-links">-->
                        <!--<h2>my Account</h2>-->
                        <!--<ul>-->
                            <!--<li><a href="#">my Account</a></li>-->
                            <!--<li><a href="#">order History</a></li>-->
                            <!--<li><a href="#">Returns</a></li>-->
                            <!--<li><a href="#">Specials</a></li>-->
                        <!--</ul>-->
                    <!--</div>-->
                <!--</div>-->
            </div>
        </div>
    </div>
</div><!--Start Footer top area-->
<div class="footer-area fix"><!--Start Footer Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="copy-right">
                    <p>&copy; 2017 <a href="www.bootexperts.com">BootExperts</a>, All Right Reserved</p>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="payment">
                    <ul>
                        <li><a href="#"><img src="./../../../content/images/footer/cards.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="./../../../content/images/footer/visa.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="./../../../content/images/footer/paypal.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="./../../../content/images/footer/master.jpg" alt="" /></a></li>
                        <li><a href="#"><img src="./../../../content/images/footer/discover.jpg" alt="" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--End Footer Area-->
