<section class="team-area page fix"><!--Start Developers Area-->
	<div class="container">
		<div class="row">
			<div class="section-title text-center">
				<h2>Developers team</h2>
				<div class="underline"></div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="designer fix">
					<div class="designer-img">
						<img src="../../../../content/images/about-us/designer-1.jpg" alt="" />
						<div class="designer-text">
							<h2>Alex Torchynskyi</h2>
							<h3>Java Developer</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="designer fix">
					<div class="designer-img">
						<img src="../../../../content/images/about-us/designer-2.jpg" alt="" />
						<div class="designer-text">
							<h2>Dmytro Bilyi</h2>
							<h3>Java Developer</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="designer fix">
					<div class="designer-img">
						<img src="../../../../content/images/about-us/designer-3.jpg" alt="" />
						<div class="designer-text">
							<h2>Vladyslav Glukhov</h2>
							<h3>Java Developer</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
				<div class="designer fix">
					<div class="designer-img">
						<img src="../../../../content/images/about-us/designer-4.jpg" alt="" />
						<div class="designer-text">
							<h2>Sergey Kostyniuk</h2>
							<h3>Java Developer</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section><!--End Developers Area-->