<div class="magic-area fix"><!--Start Magic Area-->
<div class="row">
	<div class="col-sm-12 col-md-6 image">
		<a href="#"><img src="./../../../../content/images/magic.jpg" alt="magic" /></a>
	</div>
	<div class="col-sm-12 col-md-6 content">
		<h2>Use Jewelry’s magic</h2>
		<h3>buy fine jewelry</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor</p>
		<a href="#">Shop Now</a>
		</div>
	</div>
</div><!--End Magic Area-->