<div class="magic-area fix"><!--Start Magic Area-->
<div class="row">
	<div class="col-sm-12 col-md-6 image">
		<a href="/#/index"><img src="./../../../../content/images/magic.jpg" alt="magic" /></a>
	</div>
	<div class="col-sm-12 col-md-6 content">
		<h2>Use Jewelry’s magic</h2>
		<h3>buy fine jewelry</h3>
		<p>Welcome to goldshop.com. We have been serving clients since 1993!  It is our hope that you will find our website to be both useful and inviting and we appreciate the visit. </p>
		<a href="/#/shoplist">Shop Now</a>
		</div>
	</div>
</div><!--End Magic Area-->