
<div *ngIf="customerAccount">
    <h2><span>Customer Account</span> {{customerAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{customerAccount.createdAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{customerAccount.userLogin}}
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="customerAccount.customerId">
                <a [routerLink]="['/customer', customerAccount.customerId]">{{customerAccount.customerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer-account/'+ customerAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
