
<div *ngIf="address">
    <h2><span>Address</span> {{address.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Country</span></dt>
        <dd>
            <span>{{address.country}}</span>
        </dd>
        <dt><span>City</span></dt>
        <dd>
            <span>{{address.city}}</span>
        </dd>
        <dt><span>State</span></dt>
        <dd>
            <span>{{address.state}}</span>
        </dd>
        <dt><span>Region</span></dt>
        <dd>
            <span>{{address.region}}</span>
        </dd>
        <dt><span>Street</span></dt>
        <dd>
            <span>{{address.street}}</span>
        </dd>
        <dt><span>Building</span></dt>
        <dd>
            <span>{{address.building}}</span>
        </dd>
        <dt><span>Appartment</span></dt>
        <dd>
            <span>{{address.appartment}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="address.customerId">
                <a [routerLink]="['/customer', address.customerId]">{{address.customerId}}</a>
            </div>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <div *ngIf="address.managerId">
                <a [routerLink]="['/manager', address.managerId]">{{address.managerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'address/'+ address.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
