<!-- single-sidebar start -->
<!--<div class="sin-shop-sidebar shop-category">-->
    <h2>Category</h2>
    <ul>
        <li><a href="#">Rings</a></li>
        <li><a href="#">Necklaces</a></li>
        <li><a href="#">BRACELETS</a></li>
        <li><a href="#">EARRINGS</a></li>
        <li><a href="#">CHURIES</a></li>
        <li><a href="#">Jewelry Sets</a></li>
        <li><a href="#">KIDS JEWELRY</a></li>
        <li><a href="#">Others</a></li>
    </ul>
<!--</div>-->
<!-- single-sidebar end -->
