<!-- HOME SLIDER -->
<div class="slider-wrap home-1-slider">
    <div id="mainSlider" class="nivoSlider slider-image">
        <img src="../../../content/images/slider/1.jpg" alt="main slider" title="#htmlcaption1"/>
        <img src="../../../content/images/slider/2.jpg" alt="main slider" title="#htmlcaption2"/>
        <img src="../../../content/images/slider/3.jpg" alt="main slider" title="#htmlcaption3"/>
    </div>
    <div id="htmlcaption1" class="nivo-html-caption slider-caption-1">
        <div class="slider-progress"></div>
        <div class="slide1-text slide-text">
            <div class="middle-text">
                <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
                    <h1>Exclusive Jewelry</h1>
                </div>
                <div class="cap-dec wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0s">
                    <h2>to express personality</h2>
                </div>
                <div class="cap-readmore wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0s">
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div id="htmlcaption2" class="nivo-html-caption slider-caption-2">
        <div class="slider-progress"></div>
        <div class="slide2-text slide-text">
            <div class="middle-text">
                <div class="cap-title wow bounceInDown" data-wow-duration=".9s" data-wow-delay="0s">
                    <h1>Exclusive Jewelry</h1>
                </div>
                <div class="cap-dec wow bounceInRight" data-wow-duration="1.5s" data-wow-delay="0s">
                    <h2>to express personality</h2>
                </div>
                <div class="cap-readmore wow bounceInUp" data-wow-duration="1.3s" data-wow-delay=".5s">
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
    <div id="htmlcaption3" class="nivo-html-caption slider-caption-3">
        <div class="slider-progress"></div>
        <div class="slide3-text slide-text">
            <div class="middle-text">
                <div class="cap-title wow slideInRight" data-wow-duration=".9s" data-wow-delay="0s">
                    <h1>Exclusive Jewelry</h1>
                </div>
                <div class="cap-dec wow slideInRight" data-wow-duration="1.3s" data-wow-delay="0s">
                    <h2>to express personality</h2>
                </div>
                <div class="cap-readmore wow fadeInUpBig" data-wow-duration="1.5s" data-wow-delay="0s">
                    <a href="#">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--<script src="../../js/jquery-2.1.4.min.js"></script>-->
<!--<script src="../../js/jquery.nivo.slider.pack.js"></script>-->
<!--<script src="../../js/main.js"></script>-->

<!-- HOME SLIDER -->
