
<div *ngIf="subCategory">
    <h2><span>Sub Category</span> {{subCategory.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{subCategory.name}}</span>
        </dd>
        <dt><span>Category</span></dt>
        <dd>
            <div *ngIf="subCategory.category">
                <a [routerLink]="['/category', subCategory.category?.id]">{{subCategory.category?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'sub-category/'+ subCategory.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
