
<div *ngIf="consignment">
    <h2><span jhiTranslate="eshopApp.consignment.detail.title">Consignment</span> {{consignment.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eshopApp.consignment.price">Price</span></dt>
        <dd>
            <span>{{consignment.price}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.consignment.storage">Storage</span></dt>
        <dd>
            <div *ngIf="consignment.storage">
                <a [routerLink]="['/storage', consignment.storage?.id]">{{consignment.storage?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="eshopApp.consignment.producers">Producers</span></dt>
        <dd>
            <div *ngIf="consignment.producers">
                <a [routerLink]="['/producers', consignment.producers?.id]">{{consignment.producers?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'consignment/'+ consignment.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
