<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCustomerLabel" jhiTranslate="eshopApp.customer.home.createOrEditLabel">Create or edit a Customer</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!customer.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="customer.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.customer.sessionId" for="field_sessionId">Session Id</label>
            <input type="text" class="form-control" name="sessionId" id="field_sessionId"
                [(ngModel)]="customer.sessionId"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="eshopApp.customer.loginOptions" for="field_loginOptions">Login Options</label>
            <select class="form-control" id="field_loginOptions" name="loginOptions" [(ngModel)]="customer.loginOptions">
                <option [ngValue]="null"></option>
                <option [ngValue]="loginOptionsOption.id === customer.loginOptions?.id ? customer.loginOptions : loginOptionsOption" *ngFor="let loginOptionsOption of loginoptions; trackBy: trackLoginOptionsById">{{loginOptionsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="eshopApp.customer.customerRoom" for="field_customerRoom">Customer Room</label>
            <select class="form-control" id="field_customerRoom" name="customerRoom" [(ngModel)]="customer.customerRoom">
                <option [ngValue]="null"></option>
                <option [ngValue]="customerRoomOption.id === customer.customerRoom?.id ? customer.customerRoom : customerRoomOption" *ngFor="let customerRoomOption of customerrooms; trackBy: trackCustomerRoomById">{{customerRoomOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
