
<div *ngIf="customer">
    <h2><span>Customer</span> {{customer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Sub Scription</span></dt>
        <dd>
            <span>{{customer.subScription}}</span>
        </dd>
        <dt><span>Sosial Connect</span></dt>
        <dd>
            <span>{{customer.sosialConnect}}</span>
        </dd>
        <dt><span>Session Id</span></dt>
        <dd>
            <span>{{customer.sessionId}}</span>
        </dd>
        <dt><span>Login Options</span></dt>
        <dd>
            <div *ngIf="customer.loginOptions">
                <a [routerLink]="['/login-options', customer.loginOptions?.id]">{{customer.loginOptions?.id}}</a>
            </div>
        </dd>
        <dt><span>Address</span></dt>
        <dd>
            <div *ngIf="customer.address">
                <a [routerLink]="['/address', customer.address?.id]">{{customer.address?.id}}</a>
            </div>
        </dd>
        <dt><span>Personal Info</span></dt>
        <dd>
            <div *ngIf="customer.personalInfo">
                <a [routerLink]="['/personal-information', customer.personalInfo?.id]">{{customer.personalInfo?.id}}</a>
            </div>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <div *ngIf="customer.avatar">
                <a [routerLink]="['/avatar', customer.avatar?.id]">{{customer.avatar?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'customer/'+ customer.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
