<!-- single-sidebar start -->
<!--<div class="sin-shop-sidebar shop-tags">-->
    <h2>Tags</h2>
    <ul>
        <li><a href="#">JEWELRY</a></li>
        <li><a href="#">Rings</a></li>
        <li><a href="#">EARRINGS</a></li>
        <li><a href="#">BRACELETS</a></li>
        <li><a href="#">Necklaces</a></li>
        <li><a href="#">Locket</a></li>
        <li><a href="#">Jewelry Sets</a></li>
        <li><a href="#">Churi</a></li>
        <li><a href="#">Watch</a></li>
    </ul>
<!--</div>-->
<!-- single-sidebar end -->
