*{margin:0;padding:0;}
body {
    background: #ebebeb none repeat scroll 0 0;
    color: #3e3f3f;
    font-family: "Raleway",sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin:0;
}
a {
    color: #3e3f3f;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
a:focus {
    color: inherit;
    outline: none;
    text-decoration: none;
}
a, a:hover {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    max-width:100%;
}
