<!--<jhi-page-ribbon></jhi-page-ribbon>-->
<jhi-header></jhi-header>
<jhi-navbar></jhi-navbar>
<!--<jhi-slider></jhi-slider>-->
<div>

    <!--<router-outlet name="slider">-->
    <!--</router-outlet>-->
    <router-outlet></router-outlet>
    <!--<router-outlet name="navbar"></router-outlet>-->
</div>


<!--<router-outlet ></router-outlet>-->
<router-outlet name="popup"></router-outlet>
<!--<router-outlet name="shoplist"></router-outlet>-->

<jhi-brand></jhi-brand>
<jhi-feature></jhi-feature>
<jhi-footer></jhi-footer>

