<div class="page-title fix"><!--Start Title-->
    <div class="overlay section">
        <h2>Shop List</h2>
    </div>
</div><!--End Title-->

<!-- Shop Product Area Start -->
<div class="shop-product-area section fix">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="shop-sidebar fix">
                    <jhi-category class="sin-shop-sidebar"></jhi-category>
                    <!--<jhi-price class="sin-shop-sidebar product-price-range"></jhi-price>-->
                    <jhi-tag class="sin-shop-sidebar shop-tags"></jhi-tag>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <jhi-filter class="shop-tool-bar col-sm-12 fix"></jhi-filter>
                    <jhi-product class="shop-products"></jhi-product>
                </div>
            </div>
        </div>
    </div>
</div><!-- Shop Product Area End -->
