
<div *ngIf="tagForProduct">
    <h2><span>Tag For Product</span> {{tagForProduct.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Products</span></dt>
        <dd>
            <div *ngIf="tagForProduct.productsId">
                <a [routerLink]="['/products', tagForProduct.productsId]">{{tagForProduct.productsId}}</a>
            </div>
        </dd>
        <dt><span>Tags</span></dt>
        <dd>
            <div *ngIf="tagForProduct.tagsId">
                <a [routerLink]="['/tags', tagForProduct.tagsId]">{{tagForProduct.tagsId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'tag-for-product/'+ tagForProduct.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
