<div class="not-found_area fix">
    <img src="./../../../content/images/404.jpg" alt="" />
    <div class="not-found_opacity">
        <div class="container">
            <div class="row">
                <div class="not-found-text text-center">
                    <h2>404</h2>
                    <h3>OPS! PAGE NOT FOUND</h3>
                    <h5>Sorry, but the page you looking for is not found</h5>
                    <p>make sure that you have typed the currect URL</p>
                    <a href="#">BACK TO HOME PAGE</a>
                </div>
            </div>
        </div>
    </div>
</div>
