
<div *ngIf="managerAccount">
    <h2><span>Manager Account</span> {{managerAccount.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Created At</span></dt>
        <dd>
            <span>{{managerAccount.createdAt | date:'mediumDate'}}</span>
        </dd>
        <dt><span>User</span></dt>
        <dd>
            {{managerAccount.userLogin}}
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <div *ngIf="managerAccount.managerId">
                <a [routerLink]="['/manager', managerAccount.managerId]">{{managerAccount.managerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'manager-account/'+ managerAccount.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
