
<div *ngIf="wishList">
    <h2><span jhiTranslate="eshopApp.wishList.detail.title">Wish List</span> {{wishList.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="eshopApp.wishList.data">Data</span></dt>
        <dd>
            <span>{{wishList.data | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="eshopApp.wishList.customer">Customer</span></dt>
        <dd>
            <div *ngIf="wishList.customer">
                <a [routerLink]="['/customer', wishList.customer?.id]">{{wishList.customer?.id}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="eshopApp.wishList.product">Product</span></dt>
        <dd>
            <div *ngIf="wishList.product">
                <a [routerLink]="['/products', wishList.product?.id]">{{wishList.product?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'wish-list/'+ wishList.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
