<div class="header-top"><!--Start Header Top Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-4">
                <div class="info">
                    <div class="phn-num float-left">
                        <i class="fa fa-phone float-left"></i>
                        <p>(000)  123  288  456 </p>
                    </div>
                    <div class="mail-id float-left">
                        <i class="fa fa-envelope-o float-left"></i>
                        <p><a href="/#/index">info@eshop.com</a></p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div class="socials text-center">
                    <a href="/#/index"><i class="fa fa-facebook"></i></a>
                    <a href="/#/index"><i class="fa fa-twitter"></i></a>
                    <a href="/#/index"><i class="fa fa-linkedin"></i></a>
                    <a href="/#/index"><i class="fa fa-google-plus"></i></a>
                </div>
            </div>
            <div class="col-sm-12 col-md-4">
                <div id="top-menu" class="float-right">
                    <ul>
                        <li><a href="./../../shared/login/login.component">My Account</a></li>
                        <li><a href="/#/index">$USD <i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="/#/index">Pound</a></li>
                                <li><a href="/#/index">BDT</a></li>
                            </ul>
                        </li>
                        <li><a href="/#/index">English(UK) <i class="fa fa-angle-down"></i></a>
                            <ul>
                                <li><a href="/#/index">English(USA)</a></li>
                                <li><a href="/#/index">Ukrainian(UA)</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div><!--End Header Top Area-->
<div class="header-area"><!--Start Header Area-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-lg-3">
                <div class="log-link">
                    <p>Welcome visitor you can</p>
                    <h5><a href="login.html">Login</a> or <a href="/#/register">Create an account</a></h5>
                </div>
            </div>
            <div class="col-sm-4 col-lg-6">
                <div class="logo text-center">
                    <a href="/#/index">
                        <span class="logo-img"></span>
                        <h4>online jewelry store</h4>
                    </a>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3">
                <div class="cart-info float-right">
                    <a href="/#/cart">
                        <h5>My cart <span>2</span> items - <span>$390</span></h5>
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                    <div class="cart-hover">
                        <ul class="header-cart-pro">
                            <li>
                                <div class="image"><a href="/#/index"><img alt="cart item" src=""></a></div>
                                <div class="content fix"><a href="/#/index">Product Name</a><span class="price">Price: $130</span><span class="quantity">Quantity: 1</span></div>
                                <i class="fa fa-trash delete"></i>
                            </li>
                            <li>
                                <div class="image"><a href="/#/index"><img alt="cart item" src=""></a></div>
                                <div class="content fix"><a href="/#/index">Product Name</a><span class="price">Price: $130</span><span class="quantity">Quantity: 2</span></div>
                                <i class="fa fa-trash delete"></i>
                            </li>
                        </ul>
                        <div class="header-button-price">
                            <a href="/#/checkout"><i class="fa fa-sign-out"></i><span>Check Out</span></a>
                            <div class="total-price"><h3>Total Price : <span>$390</span></h3></div>
                        </div>
                    </div>
                </div>
                <div class="search float-right">
                    <input type="text" value="" placeholder="Search Here...." />
                    <button class="submit"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div><!--End Header Area-->
