
<div *ngIf="personalInformation">
    <h2><span>Personal Information</span> {{personalInformation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>First Name</span></dt>
        <dd>
            <span>{{personalInformation.firstName}}</span>
        </dd>
        <dt><span>Last Name</span></dt>
        <dd>
            <span>{{personalInformation.lastName}}</span>
        </dd>
        <dt><span>Middle Name</span></dt>
        <dd>
            <span>{{personalInformation.middleName}}</span>
        </dd>
        <dt><span>Sex</span></dt>
        <dd>
            <span>{{personalInformation.sex}}</span>
        </dd>
        <dt><span>Phone</span></dt>
        <dd>
            <span>{{personalInformation.phone}}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
            <span>{{personalInformation.email}}</span>
        </dd>
        <dt><span>Date Birth</span></dt>
        <dd>
            <span>{{personalInformation.dateBirth | date:'mediumDate'}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="personalInformation.customerId">
                <a [routerLink]="['/customer', personalInformation.customerId]">{{personalInformation.customerId}}</a>
            </div>
        </dd>
        <dt><span>Manager</span></dt>
        <dd>
            <div *ngIf="personalInformation.managerId">
                <a [routerLink]="['/manager', personalInformation.managerId]">{{personalInformation.managerId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'personal-information/'+ personalInformation.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
