<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPersonalInformationLabel">Create or edit a Personal Information</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!personalInformation.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="personalInformation.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" id="field_firstName"
                [(ngModel)]="personalInformation.firstName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" id="field_lastName"
                [(ngModel)]="personalInformation.lastName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_middleName">Middle Name</label>
            <input type="text" class="form-control" name="middleName" id="field_middleName"
                [(ngModel)]="personalInformation.middleName"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sex">Sex</label>
            <select class="form-control" name="sex" [(ngModel)]="personalInformation.sex" id="field_sex" >
                <option value="MAN">MAN</option>
                <option value="WOMAN">WOMAN</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="field_phone"
                [(ngModel)]="personalInformation.phone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                [(ngModel)]="personalInformation.email"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_dateBirth">Date Birth</label>
            <div class="input-group">
                <input id="field_dateBirth" type="text" class="form-control" name="dateBirth" ngbDatepicker  #dateBirthDp="ngbDatepicker" [(ngModel)]="personalInformation.dateBirth"
                />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" (click)="dateBirthDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="field_customer">Customer</label>
            <select class="form-control" id="field_customer" name="customer" [(ngModel)]="personalInformation.customerId">
                <option [ngValue]="null"></option>
                <option [ngValue]="customerOption.id" *ngFor="let customerOption of customers; trackBy: trackCustomerById">{{customerOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_manager">Manager</label>
            <select class="form-control" id="field_manager" name="manager" [(ngModel)]="personalInformation.managerId">
                <option [ngValue]="null"></option>
                <option [ngValue]="managerOption.id" *ngFor="let managerOption of managers; trackBy: trackManagerById">{{managerOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
