
<div *ngIf="products">
    <h2><span>Products</span> {{products.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{products.name}}</span>
        </dd>
        <dt><span>Price</span></dt>
        <dd>
            <span>{{products.price}}</span>
        </dd>
        <dt><span>Sale</span></dt>
        <dd>
            <span>{{products.sale}}</span>
        </dd>
        <dt><span>Rating</span></dt>
        <dd>
            <span>{{products.rating}}</span>
        </dd>
        <dt><span>Fresh</span></dt>
        <dd>
            <span>{{products.fresh}}</span>
        </dd>
        <dt><span>Description</span></dt>
        <dd>
            <span>{{products.description}}</span>
        </dd>
        <dt><span>Options</span></dt>
        <dd>
            <div *ngIf="products.optionsId">
                <a [routerLink]="['/options', products.optionsId]">{{products.optionsId}}</a>
            </div>
        </dd>
        <dt><span>Consignment</span></dt>
        <dd>
            <div *ngIf="products.consignmentId">
                <a [routerLink]="['/consignment', products.consignmentId]">{{products.consignmentId}}</a>
            </div>
        </dd>
        <dt><span>Sub Category</span></dt>
        <dd>
            <div *ngIf="products.subCategoryId">
                <a [routerLink]="['/sub-category', products.subCategoryId]">{{products.subCategoryId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'products/'+ products.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
