<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myProductsLabel">Create or edit a Products</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!products.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="products.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="products.name" required />
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_price">Price</label>
            <input type="number" class="form-control" name="price" id="field_price"
                [(ngModel)]="products.price" required />
            <div [hidden]="!(editForm.controls.price?.dirty && editForm.controls.price?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.price?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.price?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_sale">Sale</label>
            <input type="number" class="form-control" name="sale" id="field_sale"
                [(ngModel)]="products.sale"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_rating">Rating</label>
            <input type="number" class="form-control" name="rating" id="field_rating"
                [(ngModel)]="products.rating"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_fresh">Fresh</label>
            <input type="checkbox" class="form-control" name="fresh" id="field_fresh"
                [(ngModel)]="products.fresh"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="products.description"  />
        </div>

        <div class="form-group">
            <label for="field_options">Options</label>
            <select class="form-control" id="field_options" name="options" [(ngModel)]="products.options">
                <option [ngValue]="null"></option>
                <option [ngValue]="optionsOption.id === products.options?.id ? products.options : optionsOption" *ngFor="let optionsOption of options; trackBy: trackOptionsById">{{optionsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_consignment">Consignment</label>
            <select class="form-control" id="field_consignment" name="consignment" [(ngModel)]="products.consignment" >
                <option [ngValue]="null"></option>
                <option [ngValue]="consignmentOption.id === products.consignment?.id ? products.consignment : consignmentOption" *ngFor="let consignmentOption of consignments; trackBy: trackConsignmentById">{{consignmentOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="field_subCategory">Sub Category</label>
            <select class="form-control" id="field_subCategory" name="subCategory" [(ngModel)]="products.subCategory" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subCategoryOption.id === products.subCategory?.id ? products.subCategory : subCategoryOption" *ngFor="let subCategoryOption of subcategories; trackBy: trackSubCategoryById">{{subCategoryOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
