<div class="contact-page page fix"><!--Start Contact Area-->
    <div class="container">
        <div class="row">
            <div class="contact-info col-sm-12">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>Contact Us</h4>
                        <p>E-shop is the flagship company of Malabar Group. It was established in 1993 in Kozhikode, Kerala. Today, it has a strong retail network of over 185 outlets spread across nine countries, 10 wholesale units in addition to offices, design centers and factories spread across India, Middle East & Far East. </p>
                        <div class="info-single">
                            <i class="fa fa-map-marker"></i>
                            <p>Main town,  Khmelnytskyi</p>
                            <p>Kamyinetska srt. 1254 Kiev</p>
                        </div>
                        <div class="info-single">
                            <i class="fa fa-phone"></i>
                            <p>+38   096  123  58</p>
                            <p>+38   095  132  13 </p>
                        </div>
                        <div class="info-single">
                            <i class="fa fa-globe"></i>
                            <a href="#">info@goldenshop.com</a>
                            <a href="#">www.eshop.tk</a>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="contact-reduction">
                            <img src="./../../../../content/images/contact-less.jpg" alt="" />
                            <div class="contact-less">
                                <h3>UP TO</h3>
                                <h3>25%</h3>
                                <h3>off</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="map-container col-sm-12">
                <jhi-googleMaps></jhi-googleMaps>
            </div>
        </div>
    </div>
</div><!--End Contact Area-->

