<div>
    <h2>
        <span jhiTranslate="eshopApp.comments.home.title">Comments</span>
        <button class="btn btn-primary float-right create-comments" [routerLink]="['/', { outlets: { popup: ['comments-new'] } }]">
            <span class="fa fa-plus"></span>
            <span class="hidden-sm-down"  jhiTranslate="eshopApp.comments.home.createLabel">
            Create new Comments
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eshopApp.comments.home.search' | translate }}">
                    <button class="input-group-addon btn btn-info" (click)="search(currentSearch)">
                        <span class="fa fa-search"></span>
                    </button>
                    <button class="input-group-addon btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <span class="fa fa-trash-o"></span>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="comments">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eshopApp.comments.comments">Comments</span></th>
            <th><span jhiTranslate="eshopApp.comments.data">Data</span></th>
            <th><span jhiTranslate="eshopApp.comments.customerRoom">Customer Room</span></th>
            <th><span jhiTranslate="eshopApp.comments.products">Products</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let comments of comments ;trackBy: trackId">
                <td><a [routerLink]="['../comments', comments.id ]">{{comments.id}}</a></td>
                <td>{{comments.comments}}</td>
                <td>{{comments.data | date:'medium'}}</td>
                <td>
                    <div *ngIf="comments.customerRoomId">
                        <a [routerLink]="['../customer-room', comments.customerRoomId  ]" >{{comments.customerRoomId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="comments.productsId">
                        <a [routerLink]="['../products', comments.productsId  ]" >{{comments.productsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../comments', comments.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="hidden-md-down" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
