
<div *ngIf="comments">
    <h2><span>Comments</span> {{comments.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Comments</span></dt>
        <dd>
            <span>{{comments.comments}}</span>
        </dd>
        <dt><span>Date</span></dt>
        <dd>
            <span>{{comments.date | date:'medium'}}</span>
        </dd>
        <dt><span>Customer</span></dt>
        <dd>
            <div *ngIf="comments.customerId">
                <a [routerLink]="['/customer', comments.customerId]">{{comments.customerId}}</a>
            </div>
        </dd>
        <dt><span>Products</span></dt>
        <dd>
            <div *ngIf="comments.productsId">
                <a [routerLink]="['/products', comments.productsId]">{{comments.productsId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'comments/'+ comments.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
