.pagination {
    border-radius: 0;
    clear: both;
    display: block;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}
.pagination ul {
    display: inline-block;
    list-style: outside none none;
    margin: 0;
}
.pagination ul li {
    display: block;
    float: left;
    margin: 0 5px;
}
.pagination ul li a, .pagination ul li span {
    background: #fff none repeat scroll 0 0;
    color: #e09e25;
    display: block;
    font-weight: 600;
    height: 30px;
    line-height: 30px;
    width: 30px;
}
.pagination ul li a i {
    font-size: 24px;
    line-height: 30px;
}
.pagination ul li span{}
.pagination ul li.active{}
.pagination ul li.active span, .pagination ul li a:hover {
    background: #e09e25 none repeat scroll 0 0;
    color: #fff;
}
