<div class="brand-area section fix"><!--Start Brand Area-->
	<div class="container">
	<div class="section-title">
				<h2>Our Brands</h2>
				<div class="underline"></div>
			</div>
		<div class="row">			
			<!--<div class="brand-slider owl-carousel">-->
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-1.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-2.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-3.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-4.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-5.png" alt="" /></div>
				<!--<div class="brand-item"><img src="../../../content/images/brandSlider/brand-1.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-2.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-3.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-4.png" alt="" /></div>
				<div class="brand-item"><img src="../../../content/images/brandSlider/brand-5.png" alt="" /></div>-->				
			<!--</div>-->
		</div>
	</div>
</div><!--End Brand Area-->