<!-- Single Product -->
<div class="single-list-product col-sm-12">
    <div class="list-pro-image">
        <a href="product-details.html">
            <img src="img/product/1.jpg" alt="" />
        </a>
    </div>
    <div class="list-pro-des fix">
        <a class="pro-name" href="product-details.html">Product Name Demo</a>
        <div class="pro-ratting">
            <i class="fa fa-star on"></i>
            <i class="fa fa-star on"></i>
            <i class="fa fa-star on"></i>
            <i class="fa fa-star on"></i>
            <i class="fa fa-star-half-o on"></i>
        </div>
        <h4 class="list-pro-price"><span class="new">$152</span><span class="old">$175</span></h4>
        <p>Lorem ipsum dolor sit amet, consectetur adicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua magna aliqua consectetur adicing elit, sed do eiusmod tempor incididunt ut labore magna aliqua consectetur adicing elit, sed do eiusmod tempor incunt ut labore magna aliqua consectetur adicing elit.</p>
        <div class="list-actions-btn">
            <a class="quick-view" href="#"><i class="fa fa-search"></i></a>
            <a class="favorite" href="#"><i class="fa fa-heart-o"></i></a>
            <a class="cart" href="#"><i class="fa fa-shopping-cart"></i></a>
        </div>
    </div>
</div>

<div class="pagination">
    <ul>
        <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
        <li class="active"><span>1</span></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#">9</a></li>
        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
</div>
