<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myManagerLabel" jhiTranslate="eshopApp.manager.home.createOrEditLabel">Create or edit a Manager</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!manager.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="manager.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="eshopApp.manager.roles" for="field_roles">Roles</label>
            <select class="form-control" name="roles" [(ngModel)]="manager.roles" id="field_roles" >
                <option value="USER" jhiTranslate="eshopApp.Roles.USER">USER</option>
                <option value="MODERATOR" jhiTranslate="eshopApp.Roles.MODERATOR">MODERATOR</option>
                <option value="ADMINISTRATOR" jhiTranslate="eshopApp.Roles.ADMINISTRATOR">ADMINISTRATOR</option>
                <option value="OWNER" jhiTranslate="eshopApp.Roles.OWNER">OWNER</option>
            </select>
        </div>

        <div class="form-group">
            <label jhiTranslate="eshopApp.manager.loginOptions" for="field_loginOptions">Login Options</label>
            <select class="form-control" id="field_loginOptions" name="loginOptions" [(ngModel)]="manager.loginOptions">
                <option [ngValue]="null"></option>
                <option [ngValue]="loginOptionsOption.id === manager.loginOptions?.id ? manager.loginOptions : loginOptionsOption" *ngFor="let loginOptionsOption of loginoptions; trackBy: trackLoginOptionsById">{{loginOptionsOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label jhiTranslate="eshopApp.manager.personalInfo" for="field_personalInfo">Personal Info</label>
            <select class="form-control" id="field_personalInfo" name="personalInfo" [(ngModel)]="manager.personalInfo">
                <option [ngValue]="null"></option>
                <option [ngValue]="personalInformationOption.id === manager.personalInfo?.id ? manager.personalInfo : personalInformationOption" *ngFor="let personalInformationOption of personalinfos; trackBy: trackPersonalInformationById">{{personalInformationOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
