
<div *ngIf="manager">
    <h2><span>Manager</span> {{manager.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Roles</span></dt>
        <dd>
            <span>{{manager.roles}}</span>
        </dd>
        <dt><span>Login Options</span></dt>
        <dd>
            <div *ngIf="manager.loginOptionsId">
                <a [routerLink]="['/login-options', manager.loginOptionsId]">{{manager.loginOptionsId}}</a>
            </div>
        </dd>
        <dt><span>Personal Info</span></dt>
        <dd>
            <div *ngIf="manager.personalInfoId">
                <a [routerLink]="['/personal-information', manager.personalInfoId]">{{manager.personalInfoId}}</a>
            </div>
        </dd>
        <dt><span>Avatar</span></dt>
        <dd>
            <div *ngIf="manager.avatarId">
                <a [routerLink]="['/avatar', manager.avatarId]">{{manager.avatarId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'manager/'+ manager.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
