<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOptionsLabel">Create or edit a Options</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!options.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="options.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_metal">Metal</label>
            <input type="text" class="form-control" name="metal" id="field_metal"
                [(ngModel)]="options.metal"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_color">Color</label>
            <input type="text" class="form-control" name="color" id="field_color"
                [(ngModel)]="options.color"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_stone">Stone</label>
            <input type="text" class="form-control" name="stone" id="field_stone"
                [(ngModel)]="options.stone"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_marking">Marking</label>
            <input type="text" class="form-control" name="marking" id="field_marking"
                [(ngModel)]="options.marking"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="options.weight"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="options.size"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="options.length"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
