<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myOptionsLabel">Create or edit a Options</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!options.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="options.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_color">Color</label>
            <input type="number" class="form-control" name="color" id="field_color"
                [(ngModel)]="options.color" required />
            <div [hidden]="!(editForm.controls.color?.dirty && editForm.controls.color?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.color?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.color?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_weight">Weight</label>
            <input type="number" class="form-control" name="weight" id="field_weight"
                [(ngModel)]="options.weight" required />
            <div [hidden]="!(editForm.controls.weight?.dirty && editForm.controls.weight?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.weight?.errors?.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.weight?.errors?.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_metal">Metal</label>
            <input type="text" class="form-control" name="metal" id="field_metal"
                [(ngModel)]="options.metal" required />
            <div [hidden]="!(editForm.controls.metal?.dirty && editForm.controls.metal?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.metal?.errors?.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_size">Size</label>
            <input type="number" class="form-control" name="size" id="field_size"
                [(ngModel)]="options.size"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_length">Length</label>
            <input type="number" class="form-control" name="length" id="field_length"
                [(ngModel)]="options.length"  />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
